body {
  background-image: url('../img/beach1.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background-blue {
  background-color: #337ab7;
}

.hide {
  display: none;
}

.padding {
  padding: 0 .5em 1em .5em;
}

.padding-question-headers {
  padding: 0.25em 0.25em 0.25em 0.25em;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 25px;
}

.shadow-question-headers {
  box-shadow: -5px 5px 5px 0px gray;
}

.shadow-buttons {
  box-shadow: -5px 5px 5px 0px gray;
}

#findout {
  margin-bottom: 15px;
}

.background-yellow {
  background-color: yellow;
}

img.maxwidth {
  max-width: 500px;
}

.location-margin {
  margin-top: 20px;
  padding: 5px;
}
